._3d-flip-book.fb3d-link-lightbox-mode {
    cursor: pointer !important;
    display: inline-block;
}
.fb3d-modal,
.fb3d-modal .mount-container {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 9999 !important;
    background-color: #000 !important;
    overflow: hidden !important;
}

.fb3d-modal iframe {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
}
/* Force flipbook lightbox full screen */
.fb3d-modal,
.fb3d-modal .fb3d-container {
    width: 100vw !important;
    height: 100vh !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 9999 !important;
}

.fb3d-modal .cmd-close {
    top: 32px !important;
    z-index: 10000 !important;
    color: #fff !important;
    font-size: 32px !important;
}

.fb3d-modal iframe,
.fb3d-modal canvas,
.fb3d-modal .fb3d-view {
    width: 100% !important;
    height: 100% !important;
}